body
{
    /* background-image: url(forest-background.jpg); */
    /* border-image: url(forest-background.jpg) 30 round; */
    background-color: gainsboro;
    /* border-color: #f9ca24; */
    border: 1px solid;
    border-left: 100px solid white;
    border-right: 100px solid white;
    padding: 30px;
    margin-left: 0;
    margin-right: 0;
}
/*div header*/
.header
{
    /* border: 1px solid; */
    padding: 0.5%;
    /* margin: 1%; */
    /* padding-top: 2%; */
    /* margin-left: 6.25%; */
    /* width: 88%; */
    /* border-color: #1abc9c; */
    /* align-content: center; */
    background-color: white;
    border-radius: 20px;
    /* align-self: center; */
}
    /*div header -> div person_info*/
    .person_info
    {
        /* border: 1px solid; */
        padding: 1.5%;
        /* margin-top: 1%; */
        /* margin-left: 2%;*/
        /* margin-right: 3%;*/
        /* border-color: #1abc9c; */
        align-content: center;
        background-color: #55efc4ff;
        border-radius: 20px;
        width: 10%;
        /* height: 90%; */
        /* margin-bottom: 4%; */
    }
    /*div header -> img person_image*/
    .person_image
    {
        width: 100%;
        /* border: 1px solid; */
        border-color: black;
        /* padding: 0px; */
        /* margin-top: 5%; */
        /* border-color: #55efc4; */
        align-content: center;
        /* height: 70%; */
        border-radius: 15px;
        /* margin-left: 15%; */
        /* margin-right: 15%; */
        /* margin-bottom: 20%; */
        
    }
    /*div header -> div sound*/
    .sound
    {
        background-color: gainsboro;
        border: 1px solid;
        border-color: chocolate; 
        padding: 1px;
        float: left;
    }
    /*div header -> span username*/
    .username
    {
        FONT-WEIGHT: 400;
        /* FONT-VARIANT-CAPS: petite-caps; */
        /* border: 1px solid; */
        padding: 02%;
        /* margin-top: -0%; */
        /* margin-left: 0%; */
        /* margin-right: 0%;*/
        /* width: 100%; */
        font-size: 100%;
        /* border-radius: 10px; */
        /* border-color: #55efc4; */
        background-color: white;
        align-content: center;
        /* clear: left; */
        /* float: right; */
    }
/*div nav*/
.nav
{
    /* border: 1px solid; */
    padding: 2%;
    border-radius: 10px;
    margin: 1px;
    /* margin-top: 50px; */
    /* border-color: #3498db; */
    background-color: #cfe2f3ff;
    width: 82%;
    float: right;
    position: relative;
    bottom: 100px;
}
    /*div nav -> a */
    .nav > a
    {
        /*border: 1px solid; */
        padding: 1%;
        margin: 1px;
        /* margin-top: 40%; */
        /* border-color: #8e44ad; */
        background-color: #ffeaa7ff;
        border-radius: 5px;
        margin-left: 6%;
        text-decoration: none;
    }
/*div special*/
.special
{
    /* border: 1px solid; */
    padding: 1%;
    margin: 1px;
    /* border-color: black; */
}
/*h1*/
h1 {
    display: block;
    font-size: 2em;
    margin: 2%;
    text-align: center;
    align-items: center;
    align-self: center;
    width: 20%;
    margin-left: 40%;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: white;
    border: 10px solid #55efc4ff;
}
/*div day-box*/
.day-box
{
    border: 1px solid;
    border-color: #e67e22;
    padding: 1px;
    margin: 1px;
    border: 15px solid;
    border-color: #9aecdbff;
    border-top: 70px solid #9aecdbff;
    padding: 1%;
    padding-top: 0;
    margin: 1px;
    margin-top: 3%;
    background-color: white;
    border-radius: 25px;
    height: 375px;
    align-items: center;
}
    /*div day-box -> day-box PREP*/
    .PREP
    {
        /* border: 15px solid; */
        /* border-color: #9aecdbff; */
        /* border-top: 70px solid #9aecdbff; */
        /* padding: 1%; */
        /* padding-top: 0; */
        /* margin: 1px; */
        /* background-color: white; */
        /* border-radius: 25px; */
        /* align-items: center; */
    }
        /*div day-box -> div PREP -> div day */
        .day
        {
            border: 10px solid;
            /* border-top: 10px solid; */
            border-color: #9aecdbff;
            padding: 0.55%;
            /* padding-left: 5%; */
            padding-right: 1%;
            margin: 1%;
            /* margin-bottom: 2%; */
            margin-top: -3%;
            /* margin-left: -1.5%; */
            background-color: white;
            width: 31%;
            border-radius: 20px;
            align-items: center;
            align-self: center;
            font-weight: 600;
            font-family: sans-serif;
        }
            /*div day-box -> div PREP -> div day -> div notes */
            .notes
            {
                /* border: 1px solid; */
                /* border-color: #9c88ff; */
                padding: 1px;
                margin: 1px;
                background-color: gainsboro;
                /* float: right; */
                /* width: 200px; */
                font-family: sans-serif;
                /* height: 5px; */
            }
        /*div day-box -> div PREP -> div .reading-box */
        .reading-box
        {
            border-top: 2px solid gainsboro;
            /* border-color: #4cd137; */
            padding: 1px;
            /* margin: 1%; */
            /* float: left; */
            /* width: 25%; */
            /* overflow: auto; */
            /* height: 25%; */
            font-family: sans-serif;
        }
            /*div day-box -> div PREP -> div .reading-box -> div reading  */
            .reading
            {
                /* border: 1px solid; */
                /* border-color: #487eb0; */
                /* padding: 1px; */
                float: left;
                width: 49%;
                margin: 0.5%;
                background-color: #cfe2f3ff;
                height: 100%;
                text-align: center;
                font-size: x-large;
                border-radius: 10px;
            }
                /*div day-box -> div PREP -> div .reading-box -> div reading -> div assignment-label */
                .assignment-label
                {
                    /* border: 1px solid; */
                    /* border-color: #2fa540; */
                    /* padding: 0.5%; */
                    margin: 0.3%;
                    width: 25%;
                    float: left;
                    height: 80%;
                    background-color: #ffeaa7ff;
                    border-radius: 5px;
                }
        /*div day-box -> div PREP -> div prep-box */
        .prep-box
        {
            border-top: 2px solid gainsboro;
            /* border-color: #273c75; */
            padding: 1px;
            /* background-color: aliceblue; */
            margin-top: 0.75%;
            width: 100%;
            float: right;
            /* margin-bottom: 1%; */
            border-radius: 10px;
            border-top-right-radius: 0;
            border-top-left-radius: 0px;
        }
            /*div day-box -> div PREP -> div prep-box -> a assignment_link*/
            .assignment_link
            {
                /* border: 1px solid; */
                /* border-color: #487eb0; */
                /* padding: 1px; */
                /* margin: 1px; */
            }
                /*div day-box -> div PREP -> div prep-box -> a -> div assignmentWidget ASSIGNED*/
                .assignmentWidget
                {
                    /* border: 1px solid; */
                    /* border-color: #2f3640; */
                    padding: 2px;
                    height: 100%;
                    margin-top: 0.40%;
                    width: 100%;
                    font-family: sans-serif;
                    font-size: x-large;
                    color: black;
                    float: left;
                    background-color: aliceblue;
                    border-radius: 10px;
                    height: 115%;
                }
                /*div day-box -> div PREP -> div prep-box -> a -> div -> div assignment-label*/
                .assignment-label
                {
                    border: 11px solid;
                    border-color: white;
                    /* padding: 1px; */
                    margin: 4px;
                    width: 20%;
                    height: 50%;
                }
        /*div day-box-> div grading-box */
        .grading-box
        {
            /* border: 1px solid; */
            padding: 1px;
            background-color: ALICEBLUE;
            margin-top: 0.40%;
            width: 100%;
            border-radius: 10px;
            float: left;
            font-size: x-large;
            font-family: sans-serif;
        }
        /*div day-box-> div lab-box */
        .lab-box
        {
        /* border: 1px solid; */
        /* border-color: #f39c12; */
        /* padding: 1px; */
        /* margin: 1px; */
        /* height: 50px; */
        border-radius: 10px;
        /* margin-top: 1%; */
        }

    /*div day-box -> div CURRENT*/
    .day-box .CURRENT
    {
        border: 1px solid; 
        border-color: #f39c12;
        padding: 1px;
        margin: 1px;   
    }
    /*div day-box -> div COMPLETED*/
    .day-box .COMPLETED
    {
        border: 1px solid; 
        border-color: #7f8c8d;
        padding: 1px;
        margin: 1px;   
    }
