body
{
    background-color: #ecf0f1;
    border: 5px solid; 
    padding: 10px;
    margin: 10;
}
div[class*="day-box"]
{
    border: 1px solid; 
    border-color: red;
    padding: 1px;
    margin: 1px;   
}
